#globe {
  cursor: move;
}

#globe:hover {}

#current {
  position: absolute;
  color: white;
  font-family: sans-semmm 5555555555555555g margin-top: 4%;
}

.navbar {
  width: 100%;
  overflow: auto;
  padding-left: auto;
  padding-right: auto;
  background-color: #000099;
  margin: auto;
  text-align: center;
  line-height: 40px;
  padding-top: 4px;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #002233;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }

  .logo {
    height: 65px;
    width: 65px;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 75%;
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #404040;
    text-align: center;
    margin: auto;
    border-radius: 15px 50px;
    padding: 20px;
    height: auto;
    display: absolute;
    font-style: bold;
    font-size: 15px;
  }

  .cepic {
    float: left;
    width: 150px;
    height: 400px;
    position: relative;
  }

  -image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Hubble_ultra_deep_field_high_rez_edit1.jpg/220px-Hubble_ultra_deep_field_high_rez_edit1.jpg") h1 {
    color: white;
    text-align: center;
    font-family: impact;
    font-weight: boldest;
    font-size: 75px;
    text-align: center;
  }

  h2 {
    font-family: impact;
    font-size: 18px;
    color: black;
  }

  /* End of home page styling*/
  /*Schedule*/
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  h1 {
    color: white;
    text-align: center;
    font-family: impact;
    font-weight: boldest;
    font-size: 75px;
    text-align: center;
  }

  ul {
    list-style-type: none;
  }

  body {
    font-family: Verdana, sans-serif;
  }

  #rcorners3 {
    border-radius: 15px 50px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

  .img-list {
    height: 100px;
    width: 200px;
    a margin-top: 10px;
    margin-left: 200px;
  }

  .img-list li {
    display: table-row;
    height: 150px;
    border: 12px solid #656570;
  }

  .img-list li span {
    display: table-cell;
    vertical-align: middle;
  }
