html, body {
  margin: 0;
  padding: 0;
  background: #6699ff;
}

#globe {
  cursor: move;
}

#current {
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}

h1 {
  color: white;
  text-align: center;
  font-family: impact;
  font-weight: boldest;
  font-size: 75px;
}

.navbar {
  width: 56%;
  overflow: auto;
  padding-left: auto;
  padding-right: auto;
  background-color: #000099;
  margin: auto;
  text-align: center;
  line-height: 40px;
  padding-top: 4px;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #002233;
}
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }

  h1, .logo {
    display: inline;
  }

  .login {
  float: right;
}
.login a {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;
  background-color: #87cefa;
}
.login a:active {
top: 5px;

}
