body {
  margin: 0;
  padding: 0;
  background: #6699ff;
}



#globe {
  cursor: move;
}

#current {
  position: absolute;
  color: white;
  font-family: sans-serif;
  margin-left: 4%;
  margin-top: 4%;
}
h1 {
  color: white;
  text-align: center;
  font-family: impact;
    font-weight: boldest;
    font-size: 75px;
}
.navbar {
  width: 60%;
  background-color: #555;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000099;
  margin: auto;


}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

.navbar a:hover {
  background-color: #002233;
}


}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
 h1, .logo {
   display: inline;
 }
