.logo {
  height: 65px;
  width: 65px;
}

.navbar {
  width: 100%;
  overflow: auto;
  padding-left: auto;
  padding-right: auto;
  background-color: #000099;
  margin: auto;
  text-align: center;
  line-height: 40px;
  padding-top: 4px;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #002233;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

h1 {
  color: white;
  text-align: center;
  font-family: georgia;
  font-weight: boldest;
  font-size: 75px;
  text-align: center;
}
button {
  background-color: #2B873D;
  border: solid 2px white;
  border-radius: 6px;
  color: white;
  padding: 12px 20px;
  text-align: center;
  font-size: 30px;
  font-family: impact;
  cursor: pointer;
  border-radius: 5px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  height: 70px;
  width: 175px;
}

body {
  background-color: #6699ff;
  font-family: Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

#rcorners3 {
  border-radius: 15px 50px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
