.logo {
  height: 65px;
  width: 65px;
}
.navbar {
  width: 100%;
  overflow: auto;
  padding-left: auto;
  padding-right: auto;
  background-color: #000099;
  margin: auto;
  text-align: center;
  line-height: 40px;
  padding-top: 4px;
}

.navbar a {
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-align: center;

}

.navbar a:hover {
  background-color: #002233;
}


@media screen and (max-width: 500px) {

  .navbar a {
    float: none;
    display: block;

  }
}
h1 {
  color: white;
  text-align: center;
  font-family: impact;
  font-weight: boldest;
  font-size: 75px;
  text-align: center;
}

body {
  background-color: #6699ff;
  font-family: Verdana, sans-serif;
}

ul {
  list-style-type: none;
}






#rcorners3 {
  border-radius: 15px 50px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
